<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>HANGOUT</title>
    <link rel="stylesheet" href="stylesheet.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  </head>
  <body>
    <div class="top-wrapper">
      <div class="container">
        <h1>HANG OUT</h1>
        <h1>I hope that you can have a meaningful time.</h1>
        <p>HANG OUTはいつでもどこでもだれとでもスポーツをシェアすることができるサービスです。</p>
        <p>予定が合わず人数が集まらない時、急な休みでもアクティブに過ごしたい時にHANG OUTでイベントを開催することで人数を集めることができます。</p>
      </div>
    </div>
    <div class="lesson-wrapper">
      <div class="container">
        <div class="heading">
          <h2>List of Functions.</h2>
        </div>
        <div class="lessons">
          <div class="lesson">
            <div class="lesson-icon">
              <p>イベント主催</p>
            </div>
            <p class="txt-contents">自分の都合がいい時にイベントを主催しましょう。たくさんの人に興味を持ってもらうように、イベントは詳細に記載しましょう。そして楽しいイベントにしましょう。</p>
          </div>
          <div class="lesson">
            <div class="lesson-icon">
              <p>コメント</p>
            </div>
            <p class="txt-contents">気軽な雑談も増やしてコミュニケーション活性化。ちょっとした連絡、参加意思に便利なコメント機能。メンバー間の小さなコミュニケーションをたくさん生み出しましょう。</p>
          </div>
        </div>
      </div>
    </div>
    <div class="message-wrapper">
      <div class="container">
        <div class="heading">
          <h2>HANG OUTを使って有意義な時間を過ごしましょう</h2>
          <h3>Let's enjoy it now.</h3>
        </div>
        <span class="btn message">会員登録する</span>
      </div>
    </div>
  </body>
</html>
