<div class="posts-show-item">
  <%= @post.description %>
   <div class="post-time">
    <%= @post.created_at %>
   </div>
</div>

<h2>コメント</h2>
<% @post.comments.each do |comment| %>
<p class="post-text">
  <%= comment.commentcontent %>
</p>
<% end %>
